body {
  font-family: Noto Sans;
  background-image: url(../images/Logo500.webp);
  background-repeat: no-repeat;
  background-position: center;
}

table,
th,
td {
  border: 1px black solid;
  border-collapse: collapse;
  width: fit-content;
  padding-top: 1%;
  padding-bottom: 1%;
  font-weight: 600;
  text-align: center
}

div {
  display: flex;
  justify-content: center; /* horizontal */
  margin-bottom: 10%;
}

th {
  font-weight: 700;
}


.title {
  display: flex;
  justify-self: center;
}

#test-but{
  background-color: rgb(50, 50, 255);
  border: none;
  position: fixed;
  bottom: 8%;
  right: 0;
  margin: 2%;
  border-radius: 50px;
  padding: 1%;
  transition: padding 0.25s;
}

#test-but:hover{
  cursor: pointer;
  padding: 1.25%;
}

a{
  color: white;
  text-decoration: none;
}